* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* navigation section*/
.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

/* navigation section*/
.navigation {
  margin-bottom: 120px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1140px;
  margin: 30px auto 120px;
}

.navbar ul {
  display: flex;
  gap: 48px;
  font-size: 1rem;
}

nav ul li {
  list-style: none;
}

.home-tab {
  color: #252432;
  font-weight: 600;
}
.shop-tab,
.about-tab {
  color: #8987a1;
}

/*banner section*/
.banner {
  display: flex;
  justify-content: space-between;
  width: 1140px;
  height: 460px;
  align-items: end;
  margin-bottom: 120px;
  margin-right: auto;
  margin-left: auto;
}
.banner-texts {
  width: 50%;
}
.banner-texts h1 {
  font-size: 4rem;
  font-weight: 800;
}
.banner-texts h1 span {
  color: #e95a08;
}
.banner-texts p {
  font-size: 1.375rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
}
.banner-img {
  width: 50%;
  display: flex;
  justify-content: end;
}
.banner-img img {
  width: 100%;
}

/*main title*/
.introduction {
  width: 1140px;
  margin: 0px auto 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.intro-title {
  font-size: 3.125rem;
  font-weight: 700;
}
.intro-title span {
  color: #e95a08;
}
.intro-description {
  color: #8987a1;
  font-size: 1.375rem;
  text-align: center;
}

/*product section */
.product-container {
  width: 1140px;
  margin: 0px auto 120px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.card {
  display: flex;
  flex-direction: column;
}
.card img {
  width: 100%;
  height: 323px;
}
.card-body {
  font-family: "Inter";
}
.card-body p {
  font-size: 1.375rem;
  font-weight: 400;
  margin: 30px 30px;
  line-height: 40px;
  text-align: center;
}
.btn {
  width: 270px;
  height: 50px;
  background-color: #e95a08;
  color: #ffffff;
  border: none;
}

/* review section */
.review-container {
  width: 1140px;
  margin: 0px auto 120px;
  display: flex;
  gap: 60px;
}

.review-container #store{
    display: block;
}
.review-img{
    position: relative;
}
#badge{
    width: 286px;
    height: 286px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(25%,-150%);
}
.review-title{
    font-size: 4.125rem;
    font-weight: 700;
    justify-content: start;
    color: black;
}
.review ul{
    padding-left: 20px;
    margin-top: 38px;
    margin-bottom: 38px;
}
.review li{
    font-family: "Inter";
    font-size: 1.375rem;
    color: rgba(0, 0, 0, 0.5);
    padding-left: 10px;
    margin-bottom: 20px;
}

/*deals section */
.deals{
    width: 1140px;
    margin: 0px auto 120px;
    text-align: center;
}
.deals h1{
font-size: 4.125rem;
font-weight: 600;
margin-bottom: 16px;
}
.deals h1 span{
    color: #e95a08;;
}
.deals p{
    color:rgba(0, 0, 0, 0.5);
    font-size: 1.375rem;
    font-family: "Inter";
}